body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f2f5;
}

.holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    margin: 20px;
    padding: 10px;
    color: #333;
    max-width: 600px;
    line-height: 1.5;
}

.container {
    padding: 20px;
    width: 320px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.qrcode {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.converter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.converter input {
    height: 25px;
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    background-color: rgba(24, 142, 237, 0.195);
}

.converter button {
    height: 37px;
    margin-top: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 0 10px;
    transition: background-color 0.3s ease;
}

.converter button:hover {
    background-color: rgb(255, 160, 0);
}

.savebtn {
    margin: 10px;
    height: 35px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.savebtn:hover {
    background-color: #5bd461;
}